/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

header {
  background-image: url(../../static/images/intro-bg.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

header .intro-text {
  padding-top:100px;
  padding-bottom:50px
}

header .intro-text .intro-lead-in {
  font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:italic;
  font-size:22px;
  line-height:22px;
  margin-bottom:25px;
}

header .intro-text .intro-heading {
  font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform:uppercase;
  font-weight:700;
  font-size:40px;
  line-height:50px;
  margin-bottom:25px
}

header .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 25px
}
@media (min-width:768px){
  header .intro-text {
    padding-top:300px;
    padding-bottom:200px
    }

  header .intro-text .intro-lead-in {
    font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:italic;
    font-size:20px;
    line-height:20px;
    margin-bottom:25px
  }

  header .intro-text .intro-heading {
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    font-size:50px;
    line-height:50px;
    margin-bottom:50px
  }
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
  padding: 100px;
}

.body-content{
  padding: 100px 0;
}
/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 2em;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
